.footer {
  text-align: center;
  padding: 60px;
  background-color: #046582;
}

.footer a {
  font-size: 50px;
  color:  #9fd8df;
}

.footer:hover {
  color: black;
}

.footer p {
  color: white;
}

.footer .fas {
  color: #9fd8df;
}


